<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="VideoConnection"
         connectionString="Data Source=AMENA\\SQLEXPRESS;Initial Catalog=videorent;User ID=rentinguser;Password=rentingUSER;Encrypt=False;Trust Server Certificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>